# Prerequisites
*.d
Output/
ramices*
*.asv



# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mac stuff
*VS_Store
.vscode 
old_src/
# Build stuff
*build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
