output Output/Calibration
verbose 1
thread 3
stellar-synthesis 0
timestep 0.03
duration 10
schmidt-factor 2.3
cool 0.9
mass-resolution 300
mass-load 0.1
eject 0.9
max-steal 0.9
sn1a-fraction 0.08
sn1a-delay 0.4
sn1a-long-decay 1.5
igm-mass 200
M2 46
M1 10
M0 3.8
b2 8
b1 0.3
ecsn-fraction 0.01
fh-sn1a 0.98
fh-ccsn 0.7
scale-length-min 0.75
mixing-strength 30
mixing-order 6
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.002
