output Output/Calibration
verbose 1
thread 3
stellar-synthesis 0
timestep 0.03
duration 12
schmidt-factor 2.5
cool 0.8
rings 100
mass-resolution 350
mass-load 0.1
eject 0.3
sn1a-fraction 0.09
sn1a-delay 0.4
sn1a-long-decay 1.5
igm-mass 1100
M2 100
M1 8
M0 0.1
b2 12
b1 0.3
ecsn-fraction 0.01
fh-sn1a 0.99
fh-ccsn 0.7
fh-nsm 0.4
scale-length-min 0.75
mixing-strength 0.5
mixing-order 40
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.004
feedback-eject 0.99
merger-mass 0
merger-timescale 0.7
merger-width 0.2
merger-delay 6
