output Output/Chimney10000
verbose 1
thread 3
stellar-synthesis 0
timestep 0.03
duration 10
schmidt-factor 2
cool 1
mass-resolution 300
mass-load 0.3
eject 0.3
sn1a-fraction 0.09
sn1a-delay 0.4
sn1a-long-decay 1.5
igm-mass 1500
M2 100
M1 5
M0 0.1
b2 10
b1 1
ecsn-fraction 0.01
fh-sn1a 0.98
fh-ccsn 0.7
fh-nsm 0.4
scale-length-min 0.75
mixing-strength 10
mixing-order 15
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.004
feedback-eject 0.3
chimney 0
