verbose 1
timestep 0.02
schmidt-factor 2
cool 1
mass-resolution 300
mass-load 0.3
rings 100
thread 1
sn1a-fraction 0.5
output Output/Test_SLF
igm-mass 10000
variable-ring-width 0
sn1a-delay 0.35
eject 0
M2 45
M1 4.5
scale-length-min 3.75
fh-ccsn 0.999
fh-agb 0.999
fh-sn1a 0.999
sn1a-long-decay 0.001
mass-immortal 0.05
