verbose 1
timestep 0.03
duration 10
cool 1
mass-resolution 300
mass-load 0
rings 100
thread 3
sn1a-fraction 0.08
igm-mass 10000000
M2 50
M1 4.5
M0 0.8
b2 14
b1 2.3
variable-ring-width 0
sn1a-delay 0.4
eject 0.3
schmidt-cut 0
mixing-truncation 0
stellar-synthesis 1
ecsn-fraction 0.01
fh-sn1a 0.96
schmidt-main 1.4
scale-length-min 2
