verbose 1
timestep 0.05
duration 10
schmidt-factor 0.2
cool 0.7
mass-resolution 300
mass-load 0.45
rings 100
thread 1
sn1a-fraction 0.1
output Output/Pollute_RadialFlow_NoIGM
igm-mass 15000
variable-ring-width 0
sn1a-delay 0.5
eject 0.4
sn1a-long-decay 1
M2 100
schmidt-cut 0.001
igm-absorb 0
mixing-strength 2
mixing-order 15
mixing-truncation 0.000000000000000001

