output Output/SanityChecks/StdGlobCGM400
verbose 1
thread 7
stellar-synthesis 0
timestep 0.01
duration 12.0
schmidt-factor 2.2
cool 1
rings 100
radius 20.0
M2 100
M1 50
M0 0.1
b2 9
b1 1
mixing-strength 0.4
mixing-order 10
inflow-on 1
inflow-a 0.15
inflow-b 0.25
mass-resolution 800
mass-load 0.3
feedback-eject 0.7
sn1a-fraction 0.07
sn1a-delay 0.45
sn1a-long-decay 1.5
cgm-mass 400
ecsn-fraction 0.01
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.004
nuclear-disk-flag 0
hot-gas-expelled 0.1
scale-length-min 1.5
scale-length-time 0.6
fhsn1a 0.990
fhccsn 0.6000
fhnsm 0.8000
fhagb 0.3500
eject 0.4500