verbose 1
thread 63
stellar-synthesis 0
timestep 0.01
duration 12.0
schmidt-factor 2.2
cool 1
rings 100
radius 0.15
M2 0.5
M1 0.1
M0 0.002
b2 8
b1 0.3
mixing-strength 0.00001
mixing-order 5
inflow-on 0
inflow-a 0.2
inflow-b 0.5
max-steal 0.5
mass-resolution 800
mass-load 0.3
feedback-eject 0.7
sn1a-fraction 0.07
sn1a-delay 0.45
sn1a-long-decay 1.5
ecsn-fraction 0.01
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.004
nuclear-disk-flag 1
bar-start 3.5
bar-initialise-time 0.5
bar-initial-length 1.5
bar-length-final 4.0
nuc-ring-fraction 0.3
galaxy-cutoff-radius 20.0
galaxy-ring-number 100
hot-gas-expelled 0.1
scale-length-min 0.00375
scale-length-max 0.07
scale-length-delay 0.5
scale-length-time 2.5
scale-length-final 12.0
fhsn1a 0.990
fhccsn 0.6000
fhnsm 0.8000
fhagb 0.3500
eject 0.5500
hot-gas-transport-loss 0.7000
cold-gas-transport-loss 0.5000